{
  "arrowParens": "always",
  "semi": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "endOfLine": "crlf",
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 150,
  "jsxSingleQuote": true
}
